@charset "UTF-8";

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}

a {
    color: #0969da;
    text-decoration: none;
}
